.filterContainer {
	width: 100%;
	position: relative;
	background: var(--dark-gray);
	padding: 17px 10px;
	max-width: 1075px;
	margin: 0 auto 20px;
}

.mobileFilter {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filterButton {
	font-family: var(--font-display);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1;
	color: var(--off-white);
	background: unset;
	padding: 5px 0;
	border: unset;
	cursor: pointer;
}

.filterButton svg {
	color: var(--off-white);
    height: 20px;
	margin-left: 5px;
}

.desktopFilter {
	display: none;
}

@media (min-width: 64em) {
	.filterContainer {
		padding: 10px 20px;
		margin: 0 auto;
	}

	.mobileFilter {
		display: none;
	}

	.desktopFilter {
		display: flex;
		align-items: center;
		gap: 9px;
	}

	.filterLabel {
		font-family: var(--font-display);
		font-size: 0.875rem;
		font-weight: 700;
		color: var(--off-white);
	}
}