.filterOptionsContainer {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: var(--dark-gray);
	max-width: 1075px;
	padding: 20px 10px;
	margin: 0 auto;
}

.filterFields {
	position: relative;
	width: 245px;
	font-family: var(--font-body);
	font-size: 1rem;
	line-height: 1;
	color: var(--off-white);
	background: unset;
	padding: 8px 4px;
	border: 1px solid #8b8b8b;
	border-radius: 3px;
}

.filterFields option {
	color: var(--dark-gray);
}

@media (min-width: 64em) {
	.filterOptionsContainer {
		position: static;
		transform: unset;
		flex-direction: row;
		padding: 0;
		margin: 0;
		width: unset;
	}
}